body{
    padding:115px 0 0;
}
a,a:hover,a:focus{
    text-decoration: none;
}

.tel{
    margin:5px 40px 5px 0;
}

.w-nav{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
    min-width:820px;
}

.w-nav-logo{
    float:left;
    padding-left:50px;
    position:relative;
    width:20%;
    height:100%;
    /*
    background:blueviolet;
    */
}

.w-nav-content{
    float:left;
    width:80%;
    height:100%;
 /*   background:yellow;*/
}

.w-nav-ul{
    padding:0;
    width:100%;
    height:100%;
/*    background:burlywood;*/
}

.w-nav-li{
    float:left;
    list-style:outside none none;
    margin:0;
    position:relative;
    height:100%;
    width:13%;
   /* background:red;*/
}

.w-nav-li:hover{
    background-color:#f2f4f5;
}

.w-nav-li:active{
    background-color:#f2f4f5;
}

.w-nav-link{
     color:#f2f4f5;
     display:block;
     font-size: 1.2em;
     height:100%;
     width:100%;
     text-align: center;
     line-height:450%;
     text-decoration: none !important;
 }



.w-two{
    min-height:520px;
    background-color:#DCDCDC;
}
    .w-two-list{
        padding:0;
    }
        .w-two-item{
            border:1px solid #e8e8e8;
            min-height: 400px;
            background:#fff;
        }


.w-three{
    min-height:500px;
}
    .w-three-list{
        border:1px solid #e8e8e8;
        min-height: 400px;
        /*width:30%;*/
        background:darkgrey;
    }


.w-four{
    min-height: 500px;

}
    .w-four-title{
        /*border-top: 1px dotted #778899;*/
        text-align: center;
        float:left;
        width:30%;
    }
        .w-four-bt{
            text-align: center;
        }

        .w-four-bt p{
            font-size:18px;
            color:#999;
        }

    .border{
        border-top: 1px dotted #778899;
        float:left;
        width:35%;
        margin-top:60px;
    }
    .w-four-introduce{
        clear:both;
        text-align:center;
    }

    .w-four-introduce p{
        font-size:12px;
        color:#999;
        line-height:18px;
        margin:0;
    }

















