body{
    padding:115px 0 0 0;
}

h2,h4{
    margin:0;
}

a,a:hover,a:focus{
    text-decoration: none;
}

.tel{
    margin:5px 40px 5px 0;
}

.w-nav{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
    min-width:820px;
}

.w-nav-logo{
    float:left;
    padding-left:50px;
    position:relative;
    width:20%;
    height:100%;
    /*
    background:blueviolet;
    */
}

.w-nav-content{
    float:left;
    width:80%;
    height:100%;
 /*   background:yellow;*/
}

.w-nav-ul{
    padding:0;
    width:100%;
    height:100%;
/*    background:burlywood;*/
}

.w-nav-li{
    float:left;
    list-style:outside none none;
    margin:0;
    position:relative;
    height:100%;
    width:13%;
   /* background:red;*/
}

.w-nav-li:hover{
    background-color:#f2f4f5;
}

.w-nav-li:active{
    background-color:#f2f4f5;
}

.w-nav-link{
     color:#f2f4f5;
     display:block;
     font-size: 1.2em;
     height:100%;
     width:100%;
     text-align: center;
     line-height:450%;
     text-decoration: none !important;
 }

.w-one{

}
    .item img{
        max-height:500px;
        width:100%;
    }


.w-two{
    min-height:520px;
    background-color:#DCDCDC;
}
    .w-two .row div{
        text-align:center;
        margin-top:5px;
    }
    .w-two .row:first-child{
        margin:50px 0 10px 0 ;
    }

    .w-three-header{
        text-align:center;
        margin:50px 0 20px;
    }
    .w-three-header h2{
        margin-bottom:5px;
    }


    .w-two-list{
        padding:0;
    }
        .w-two-item{
            border:1px solid #e8e8e8;
            min-height: 300px;
            background:#fff;
        }
            .w-two-item img{
                height:100px;
                width:80px;
                margin:20px 0;
            }

            .w-two-item-2{
                border-bottom:1px solid #e8e8e8;
                padding-top:10px;
                padding-left: 10px;
                height:90px;
            }
                .w-two-item-2 p{
                    text-align:left;
                }
                .w-two-item-2 p a{
                    border:1px solid #000;
                    color:#000;
                    padding:3px;
                }

            .w-two-item-3{
                background:#08acdb;
            }
            .w-two-item-4{
                background:#13c0ce;
            }
            .w-two-item-5{
                background:#ebb135;
            }




.w-three{
    min-height:500px;
}
    .w-three-list{
        /*min-height: 400px;*/
        background:#fff;
        text-align:center;
    }
    .w-three-list img{
        height:245px;
        max-width:95%;
    }

.w-four{
  margin:0 0 30px 0;

}
    .w-four-title{
        /*border-top: 1px dotted #778899;*/
        text-align: center;
        float:left;
        width:30%;
    }
        .w-four-bt{
            text-align: center;
            margin-top:30px;
        }

        .w-four-bt p{
            font-size:18px;
            color:#999;
        }

    .border{
        border-top: 1px dotted #778899;
        float:left;
        width:35%;
        margin-top:60px;
    }
    .w-four-introduce{
        clear:both;
        text-align:center;
        margin-bottom:30px;
    }

    .w-four-introduce p{
        font-size:12px;
        color:#999;
        line-height:18px;
        margin:0;
    }
    .w-four-list{
        text-align:center;
    }

    .w-four-list h3{
        margin-top:10px;
    }

    .w-four-list p{
        text-align:left;
        color:#999;
    }


.w-five{
    background:#f5f5f5;
    padding:30px 0 0 30px;
    min-height:200px;
}
    .w-five-list{
        text-align:center;
        border-right: 1px solid #e8e8e8;
        min-height:50px;
    }
    .w-five-list p{
        font-size:12px;
        color:#999;
        line-height:18px;
        margin:0;
    }

.w-six{
    min-height:100px;
    background: #D3D3D3;
    padding:30px 0;
}
    .w-six-list{
        margin-bottom: 30px;
    }

    .w-six-detail{
        border-top:1px solid #fff;
        padding-top:10px;
    }
    .w-six-detail p{
        margin:0;
        font-size:12px;
        color:#5c5e6a;
    }


.footer{
    background:#086ed5;
    text-align: center;
    padding:20px 0;
    color:#fff;
}











